* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;
    /*border-width: 1px;*/
    /*border-color: Blue;*/
    /*border-style: dotted;*/
}


.pink-bar {
    background-color: deeppink;
    width: 400px;
    height: 300px;
}

p.blue-text {
    background-color: dodgerblue;
    border-style: dotted;
    border-width: 3px;
}

h1.blue-text {
    background-color: dodgerblue;
    border-style: solid;
    border-width: 3px;
}

h1.dimmer {
    background-color: darkslategray;
}

.magenta-bar {
    background-color: magenta;
    width: 100px;
    height: 250px;
    display: inline-table;
}

p.centred-text {
    color: darkmagenta;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    /*padding: 70% 10%;*/
    /*padding-top: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 80%;*/
}

.magenta-bar-v-2 {
    background-color: magenta;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 250px;

}

.flex-container {
    display: flex;
    /*flex-flow: row wrap;*/
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    background: magenta;
    width: 50%;
    height: 250px;
    list-style: none;
}

.flex-item {
    background-color: darkblue;
    color: azure;
    padding: 5px 5px 5px 15px;
    font-size: 24px;
}