.pink-bar {
    background-color: deeppink;
    width: 400px;
    height: 300px;
}

p.blue-text {
    background-color: dodgerblue;
    border-style: dotted;
    border-width: 3px;
}

h1.blue-text {
    background-color: dodgerblue;
    border-style: solid;
    border-width: 3px;
}

h1.dimmer {
    background-color: darkslategray;
}

.magenta-bar {
    background-color: magenta;
    width: 100px;
    height: 250px;
}

p.centred-text {
    color: darkmagenta;
    text-align: center;
    padding: 70% 10%;
    /*padding-top: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 80%;*/
}
.magenta-bar-v-2 {
    background-color: magenta;
    color: white;
    text-align: center;
    width: 100px;
    height: 250px;
    padding-top: 4%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}


.flex-item {
    background: magenta;
    color: white;
    padding: 5px;
    width: 100px;
    height: 250px;
    text-align: center;
    margin-top: 10px;
    line-height: 150px;
    font-size: 3em;
}