<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body style="background: {{ background_color }}">

<h1> Hello, {{ news_color }} color! Nice to meet you! </h1>

<h3> P.s. Taras, thanks a lot for your help. I owe you one </h3>

{% for color in color_list %}
    <p style="background: {{ color }}; border: 2px dotted rgba(211, 220, 50, .8)"> {{ color }}</p>
{% endfor %}


<div style="background-color: aqua; width: 400px; height: 300px"></div>
<div class="pink-bar">
    <p class="blue-text"> Some text........</p>
    <h1 class="blue-text dimmer">Big text</h1>
</div>


<div class="magenta-bar">
    <p class="centred-text">The centred text inside magenta-bar</p>
</div>
</br>


<div class="magenta-bar-v-2">The centred text var 2 inside magenta-bar</div>
</br>


<div class="flex-container">
{#    <p class="flex-item">1</p>#}
{#    <li>This is the text</li>#}
    <div class="flex-item">This is the text</div>
    <div class="flex-item">This is the text</div>
    <div class="flex-item">This is the text</div>
</div>

</body>
</html>